:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 30px;
}

.text-container {
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
